@page "/record"
@attribute [Authorize]
@inject IHealthRecordClient HealthRecordClient
@using MyHealth.Web.App.Areas.HealthRecord.Client
@using MyHealth.Web.App.Areas.HealthRecord.Models

<PageContainer Title="Health Record">
    @if (_observations is null)
    {
        <Spin />
    }
    else if (!_observations.Any())
    {
        <p>No observations found!</p>
    }
    else
    {
        <Table TItem="Observation" DataSource="@_observations">
            <AntDesign.Column @bind-Field="@context.DateTime"></AntDesign.Column>
            <AntDesign.Column @bind-Field="@context.Text"></AntDesign.Column>
            <AntDesign.Column @bind-Field="@context.Value"></AntDesign.Column>
        </Table>
    }
</PageContainer>

@code {
    private IEnumerable<Observation> _observations;

    protected override async Task OnInitializedAsync()
    {
        await GetObservationsAsync();
    }

    private async Task GetObservationsAsync()
    {
        _observations = (await HealthRecordClient.GetObservationsAsync()).Observations;
    }
}
