@using MyHealth.Web.App.Areas.Integrations.Models

<Card Bordered="false" Title=@Integration.Provider.ToString()>
    <ActionTemplate>
        <CardAction>
            @if (Integration.Enabled)
            {
                <Button Type="primary" Danger OnClick="@DeleteIntegrationAsync">Delete</Button>
            }
            else
            {
                <Button Type="primary" OnClick="@CreateIntegrationAsync">Enable</Button>
            }
        </CardAction>
    </ActionTemplate>
</Card>

@code {
    [Parameter]
    public Integration Integration { get; set; }

    [Parameter]
    public EventCallback<Integration> OnCreateIntegration { get; set; }

    [Parameter]
    public EventCallback<Integration> OnDeleteIntegration { get; set; }

    private async Task CreateIntegrationAsync(MouseEventArgs e)
    {
        await OnCreateIntegration.InvokeAsync(Integration);
    }

    private async Task DeleteIntegrationAsync(MouseEventArgs e)
    {
        await OnDeleteIntegration.InvokeAsync(Integration);
    }
}
