@page
@model DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<div>
    <h4>Delete API Resource?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApiResource.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApiResource.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="ApiResource.Name" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to API Resources</a>
    </form>
</div>
