@page "/integrations/fitbitcallback"
@attribute [Authorize]
@inject IAppApiClient AppApiClient
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.WebUtilities
@using MyHealth.Web.Core.AppApi

<h3>FitbitAuth</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("code", out var code))
        {
            await AppApiClient.CreateFitbitIntegrationAsync(code, $"{NavigationManager.BaseUri}integrations/fitbitcallback");
        }

        NavigationManager.NavigateTo("/integrations");
    }
}
