@page "/integrations/fitbitauth"
@inject IIntegrationsClient IntegrationsClient
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.WebUtilities
@using MyHealth.Web.Core.Integrations

<h3>FitbitAuth</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("code", out var code))
        {
            await IntegrationsClient.CreateFitbitIntegrationAsync(code);
        }

        NavigationManager.NavigateTo("/integrations");
    }
}
