@page "/integrations"
@attribute [Authorize]
@inject IAppApiClient AppApiClient
@inject NavigationManager NavigationManager
@using MyHealth.Web.Core.AppApi
@using MyHealth.Web.Core.Models

<h3>Integrations</h3>

@if (HasFitbitIntegration)
{
    <p><em>Fitbit integration found!</em></p>
    <button class="btn btn-danger" @onclick="DeleteFitbitIntegration">Delete</button>
}
else
{
    <button class="btn btn-primary" @onclick="AddFitbitIntegration">Add Fitbit</button>
}

@code {
    private IEnumerable<Integration> _integrations;

    private bool HasFitbitIntegration => _integrations != null && _integrations.Any(i => i.Provider == "Fitbit");
    private string FitbitIntegrationId => _integrations?.FirstOrDefault(i => i.Provider == "Fitbit")?.Id;

    protected override async Task OnInitializedAsync()
    {
        await GetIntegrationsAsync();
    }

    private async Task GetIntegrationsAsync()
    {
        _integrations = (await AppApiClient.GetAllIntegrationsAsync()).Integrations;
    }

    private async Task AddFitbitIntegration()
    {
        string fitbitAuthenticationUri = await AppApiClient.GetFitbitAuthenticationUriAsync($"{NavigationManager.BaseUri}integrations/fitbitcallback");
        NavigationManager.NavigateTo(fitbitAuthenticationUri);
    }

    private async Task DeleteFitbitIntegration()
    {
        await AppApiClient.DeleteIntegrationAsync(FitbitIntegrationId);
        await GetIntegrationsAsync();
    }
}
