@page "/sharing"
@attribute [Authorize]
@inject IDataSharingClient DataSharingClient
@using MyHealth.Web.App.Areas.DataSharing.Client
@using MyHealth.Web.App.Areas.DataSharing.Models

<PageContainer Title="Data Sharing">
    @if (_dataSharingAgreements is null)
    {
        <Spin />
    }
    else if (!_dataSharingAgreements.Any())
    {
        <p>You are not sharing your data</p>
    }
    else
    {
        <Row Type="flex" Gutter="24">
            @foreach (var dataSharingAgreement in _dataSharingAgreements)
            {
                <AntDesign.Col Span="8">
                    <DataSharingCard DataSharingAgreement="@dataSharingAgreement"
                                     OnDeleteDataSharingAgreement="@DeleteDataSharingAgreementAsync" />
                </AntDesign.Col>
            }
        </Row>
    }
</PageContainer>

@code {
    private IEnumerable<DataSharingAgreement> _dataSharingAgreements;

    protected override async Task OnInitializedAsync()
    {
        await GetDataSharingAgreementsAsync();
    }

    private async Task GetDataSharingAgreementsAsync()
    {
        _dataSharingAgreements = (await DataSharingClient.GetDataSharingAgreements());
    }

    private async Task DeleteDataSharingAgreementAsync(DataSharingAgreement dataSharingAgreement)
    {
        await DataSharingClient.DeleteDataSharingAgreementAsync(dataSharingAgreement.Name);
        await GetDataSharingAgreementsAsync();
    }
}
