@page "/sharing"
@attribute [Authorize]
@inject IDataSharingClient DataSharingClient
@using MyHealth.Web.App.Areas.DataSharing.Client
@using MyHealth.Web.App.Areas.DataSharing.Models

<h3>Data Sharing</h3>

@if (_dataSharingAgreements is null)
{
    <LoadingIndicator />
}
else if (!_dataSharingAgreements.Any())
{
    <p>You are not sharing your data</p>
}
else
{
    <div class="card-deck">
        @foreach (var dataSharingAgreement in _dataSharingAgreements)
        {
            <DataSharingCard DataSharingAgreement="@dataSharingAgreement"
                             OnDeleteDataSharingAgreement="@DeleteDataSharingAgreementAsync" />
        }
    </div>
}


@code {
    private IEnumerable<DataSharingAgreement> _dataSharingAgreements;

    protected override async Task OnInitializedAsync()
    {
        await GetDataSharingAgreementsAsync();
    }

    private async Task GetDataSharingAgreementsAsync()
    {
        _dataSharingAgreements = (await DataSharingClient.GetDataSharingAgreements());
    }

    private async Task DeleteDataSharingAgreementAsync(DataSharingAgreement dataSharingAgreement)
    {
        await DataSharingClient.DeleteDataSharingAgreementAsync(dataSharingAgreement.Name);
        await GetDataSharingAgreementsAsync();
    }
}
