@using MyHealth.Web.App.Areas.DataSharing.Models

<Card Bordered="false" Title=@DataSharingAgreement.Name>
    <ActionTemplate>
        <CardAction>
            <Button Type="primary" Danger OnClick="@DeleteDataSharingAgreementAsync">Delete</Button>
        </CardAction>
    </ActionTemplate>
</Card>

@code {
    [Parameter]
    public DataSharingAgreement DataSharingAgreement { get; set; }

    [Parameter]
    public EventCallback<DataSharingAgreement> OnDeleteDataSharingAgreement { get; set; }

    private async Task DeleteDataSharingAgreementAsync(MouseEventArgs e)
    {
        await OnDeleteDataSharingAgreement.InvokeAsync(DataSharingAgreement);
    }
}
