@page
@model CreateModel
@{
    ViewData["Title"] = "Create";
}

<h4>Create API Resource</h4>

<form method="post">
    <div class="form-group">
        <label asp-for="Client.ClientId"></label>
        <input asp-for="Client.ClientId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AllowedGrantTypes"></label>
        <textarea asp-for="AllowedGrantTypes" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="AllowedScopes"></label>
        <textarea asp-for="AllowedScopes" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="ClientSecrets"></label>
        <textarea asp-for="ClientSecrets" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
